@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-button-rotate-out {
  animation: rotateOut 0.35s ease forwards;
  transform-origin: bottom center;
  backface-visibility: hidden;
}

.animation-button-rotate-in {
  animation: rotateIn 0.35s ease forwards;
  transform-origin: bottom center;
  backface-visibility: hidden;
}

.logout-btn {
  border-radius: 8px;
}

.login-btn {
  border-radius: 8px;
}

@keyframes rotateOut {
  from {
    transform: rotateX(0deg);
    opacity: 1;
  }
  to {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes rotateIn {
  from {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
