@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-container {
  perspective: 800px;
}

.animation-button-green-appear,
.animation-button-red-appear {
  transform-style: preserve-3d;
  will-change: transform, opacity;
}

.animation-button-green-appear {
  background: #808000;
  border-radius: 8px;
  animation: rotate_down 0.25s ease-in-out;
}

.animation-button-red-appear {
  background: red;
  border-radius: 8px;
  animation: rotate_up 0.25s ease-in-out;
}

@keyframes rotate_down {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(90deg) translateY(50%);
  }
}

@keyframes rotate_up {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg) translateY(50%);
  }
}